spring.application.name=movieshelf

spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mysql://localhost:3306/movieshelf
spring.datasource.username=root
spring.datasource.password=
spring.datasource.driver-class-name=com.cj.jdbc.Driver

tmdb.api.access.key=****